<!DOCTYPE html>
<html>

<head>
    <title>Fragmento</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />

</head>

<body>

    </br>
    <div th:fragment="reservaserviciosForm(titulo)" class="container border border-2 w-25">
        <h1 class="text-center" th:text="${titulo}"></h1>
    
    <form>
        <label class="col-form-label">Fecha Inicio:</label>
        <input class="form-control" type="date" id="fechaInicio" name="fechaInicio" required th:value="${reservaservicios.fechaInicio}" />
        <label class="col-form-label">Fecha Fin:</label>
        <input class="form-control" type="date" id="fechaFin" name="fechaFin" required th:value="${reservaservicios.fechaFin}" />
        <label class="col-form-label">Pago:</label>
        <input class="form-control" type="text" id="pago" name="pago" required th:value="${reservaservicios.pago}" />
        <label class="col-form-label">Id Servicio:</label>
        <input class="form-control" type="number" id="id_servicio" name="id_servicio" required th:value="${reservaservicios.id_servicio}" />
        <label class="col-form-label">Id Habitación:</label>   
        <input class="form-control" type="number" id="habitacion_id" name="habitacion_id" required th:value="${reservaservicios.habitacion_id}" />
        <div class="text-center">
            <input type="submit" value="Guardar" class="btn btn-primary">
            <a th:href="@{/reservaservicios}" class="btn btn-primary">Cancelar</a>
        </div>
    </form>

    </br>
</div>

</body>

</html>