<!DOCTYPE html>
<html>

<head>
    <title>Lista de clientes que no consumieron el servicio dado en las fechas dadas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>

<body>
    <div class="text-center">
        <h2 th:text="'Su rol es ' +${rol}"></h2>
        <h3>No tiene acceso a las funciones avanzadas</h3>

        <br>
        <br>
        

        
        
        
</body>

</html>