<!DOCTYPE html>
<html>

<head>
    <title>Lista de clientes que no consumieron el servicio dado en las fechas dadas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>

<body>
    <div class="text-center">
        <h2 th:text="'Su rol es ' +${rol}"></h2>
        <h3>Tiene acceso a las siguientes funciones avanzadas</h3>

        <br>
        <br>
        <a th:href="@{R11}" class="btn btn-primary">Consultar funcionamiento</a>
        <a th:href="@{R12}" class="btn btn-primary">Consultar clientes excelentes</a>
        
       
        <br />

        
        
        
</body>

</html>