<!DOCTYPE html>
<html>
<head>
    <title>Lista de Hoteles</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>

<body>
    <div class="text-center">
        <h1>Lista de Hoteles</h1>


        <br />
        <form th:action="@{hoteles}" method="get">
            <div class="input-group input-group-sm mb-2 justify-content-center">
                <input class='w-25' id="txtSearch" type="text" name="id">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-secondary">Buscar por id</button>
                </div>
            </div>
        </form>
        <br />

        <table class="table table-condensed table-hover table-bordered" style="border-collapse:collapse;">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Ubicación</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="hotel : ${hoteles}">
                    <tr>
                        <td th:text="${hotel.id}"></td>
                        <td th:text="${hotel.nombre}"></td>
                        <td th:text="${hotel.ubicacion}"></td>
                        <td>
                            <a th:href="@{hoteles/{id}/edit(id=${hotel.id})}">Editar</a>
                            <a th:href="@{hoteles/{id}/delete(id=${hotel.id})}"
                                onclick="return confirm('¿Estás seguro de borrar este Hotel?')">Borrar</a>
                        </td>
                    </tr>

                </th:block>
            </tbody>
        </table>
        <div class="text-center">
            <a th:href='@{hoteles/new}' class="btn btn-primary">Añadir Hotel</a>
            <a th:href="@{/}" class="btn btn-primary"> Volver Atrás</a>
            </br>
        </div>
        <br />
</body>
</html>