<!DOCTYPE html>
<html>
<head>
    <title>Hotel de Los Andes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container mx-auto w-25">

    <h1>Hotel de Los Andes</h1>
    <img th:src="@{/images/logo.png}" width="250">

    <div>
        <a th:href="@{/usuarios}" class="btn btn-primary">Usuarios</a>
        <a th:href="@{/ofertasHabitacion}" class="btn btn-primary">Habitaciones</a>
        <a th:href="@{/reservaservicios}"class="btn btn-primary">Reserva Servicios</a>
        <a th:href="@{/consumos}"class="btn btn-primary">Registro Consumos</a>
        <a th:href="@{/hoteles}" class="btn btn-primary">Hoteles</a>
        <a th:href="@{/servicios}" class="btn btn-primary">Servicios</a>
        <a th:href="@{/planesconsumo}" class="btn btn-primary">Planes de Consumo</a>
        <a th:href="@{/checks}" class="btn btn-primary">llegadas y salidas</a>
        <a th:href="@{/reservasHabitacion}" class="btn btn-primary">Reserva Habitaciones</a>
        <a href="/reservaservicios/habitaciones" class="btn btn-primary">Dinero Recolectado por Servicios Habitaciones</a>
    </div>
    <br/>

</div>
</body>
</html>
