<!DOCTYPE html>
<html>

<head>
    <title>Lista de reservasHabitacion</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>

<body>
    <div class="text-center">
        <h1>Lista de reservasHabitacion</h1>


        <br />
        <form th:action="@{reservasHabitacion}" method="get">
            <div class="input-group input-group-sm mb-2 justify-content-center">
                <input class='w-25' id="txtSearch" type="text" name="id">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-secondary">Buscar por id</button>
                </div>
            </div>
        </form>
        <br />

        <table class="table table-condensed table-hover table-bordered" style="border-collapse:collapse;">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th>Pago</th>
                    <th>Plan de consumo</th>
                    <th>habitacion</th>
                    <th>usuario</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="reserva : ${reservasHabitacion}">
                    <tr>
                        <td th:text="${reserva.id}"></td>
                        <td th:text="${reserva.fechaInicio}"></td>
                        <td th:text="${reserva.fechaFin}"></td>
                        <td th:text="${reserva.pago}"></td>
                        <td th:text="${reserva.planesconsumo_id}"></td>
                        <td th:text="${reserva.id}"></td>
                        <td th:text="${reserva.id}"></td>
                        <td>
                            <a th:href="@{reservasHabitacion/{id}/edit(id=${reserva.id})}">Editar</a>
                            <a th:href="@{reservasHabitacion/{id}/delete(id=${reserva.id})}"
                                onclick="return confirm('¿Estás seguro de borrar este reserva?')">Borrar</a>
                        </td>
                    </tr>

                </th:block>
            </tbody>
        </table>
        <div class="text-center">
            <a th:href='@{reservasHabitacion/new}' class="btn btn-primary">Añadir reserva</a>
            <a th:href="@{/}" class="btn btn-primary"> Volver Atrás</a>
            </br>
        </div>
        <br />
</body>

</html>