<!DOCTYPE html>
<html>

    <head>
        <title>Lista de Reservas por habitación</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
        <script th:src="@{/css/jquery.min.js}"></script>
        <script th:src="@{/css/bootstrap.min.js}"></script>
    </head>

    <body>
        <div class="text-center">
            <h1>Dinero recolectado por reservas de cada habitación en el ultimo año</h1>
        </div>

        <table class="table table-condensed table-hover table-bordered" style="border-collapse:collapse;">
            <thead class="thead-dark">
                <tr>
                    <th>Id Habitación</th>
                    <th>Total Recibido</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="reserva : ${reservaservicios}">
                    <tr>
                        <td th:text="${reserva.getHabitacion_id()}"></td>
                        <td th:text="${reserva.getPago()}"></td>
                    </tr>

                </th:block>
            </tbody>
        </table>

    </body>
</html>