<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Bebida</title>
</head>
<body>

    <!-- Incluye el navbar -->
    <div th:replace="navbar :: navbar"></div>

<div class="container mt-3">
    <h1>Nueva Tipo</h1>

    <!-- Formulario de creación -->
    <form th:action="@{/tipohabitacion/new/save}" th:object="${bebidaNueva}" method="post">

        <!-- Campos para la información de la bebida -->
        <label for="tipo">Tipo:</label>
        <input type="text" id="tipo" name="tipo" th:field="*{tipo}" required />
    
        <label for="dotacion">Dotación:</label>
        <input type="text" id="dotacion" name="dotacion" th:field="*{dotacion}" required />
    
        <button type="submit" class="btn btn-success">Crear Bebida</button>
    </form>
    

</div>

</body>
</html>
